<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="aside" class="col-md-4 sidebar">
    <!-- start widget -->
    <!-- end widget -->

    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">服务微信号</h4>
        <div class="content community">
            <img class="img-thumbnail" src="/images/erweima.png">
        </div>
    </div>
    <!-- end tag cloud widget -->

    <!-- start widget -->
    <div class="widget">
        <h4 class="title">真伪查询</h4>
        <div class="content download">
            <a href="/validate" class="btn btn-primary btn-block">点击查询产品真伪</a>
        </div>
    </div>
    <!-- end widget -->
    <!-- start widget -->
    <!-- end widget -->

    <!-- start widget -->
    <!-- end widget -->                </aside>

</html>