<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer th:fragment="footer" class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">友链</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.ntu.edu.sg/chinese/Pages/default.aspx" title="南洋理工大学"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', '南洋理工大学'])" target="_blank">南洋理工大学</a>
                        <a href="http://www.itcmsg.com/" title="南洋中医药研究院"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', '南洋中医药研究院'])" target="_blank">南洋中医药研究院</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/">南洋鼻炎膏</a>
                        <a href="/article/3">V.翘睫毛增长液</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.lkcmedicine.ntu.edu.sg/Pages/Home.aspx" title="李光前医学院"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', '李光前医学院'])" target="_blank">李光前医学院</a>
                        <a href="http://www.scbe.ntu.edu.sg/Pages/Home.aspx" title="阿里云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', '南大化学与生物医学工程学院'])" target="_blank">南大化学与生物医学工程学院</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>