<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:if="${page}" th:text="${page['title']}"></title>
    <meta th:if="${page}" name="keywords" th:content="${page['keywords']}" />
    <meta th:if="${page}" name="description" th:content="${page['description']}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web.css">
</head>
</html>