<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="menu" class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li role="presentation"><a>系统管理</a></li>
                        <li role="presentation"><a href="/manage/product/list">产品信息</a></li>
                        <li role="presentation"><a href="/manage/menu/list">菜单管理</a></li>
                        <li role="presentation"><a href="/manage/art/list">文章管理</a></li>
                        <li role="presentation"><a href="/manage/manager/list">用户管理</a></li>
                        <li role="presentation"><a href="/system/logout">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>