<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="zh_SG">
<head th:include="/common/mhead :: head('菜单管理')"></head>

<body class="home-template">
<nav th:replace="/common/managemenu :: menu"></nav>
<div class="container">
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">系统管理</a></li>
        <li>用户管理</li>
    </ol>
</div>
<table class="table table-hover">
    <tr><th>#</th><th>用户名</th><th>操作</th></tr>
    <tr th:each="m:${managers}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.loginId}"></td>
        <td><a th:href="@{'/manager/password/'+${m.loginId}}" class="btn btn-warning btn-xs">修改密码</a> </td>
    </tr>
</table>
</div>
<div th:include="/common/load_js :: loadJs"></div>
</body>
</html>