<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="zh_SG">
<head th:include="/common/mhead :: head('编辑菜单')"></head>

<body class="home-template">
<nav th:replace="/common/managemenu :: menu"></nav>
<div class="container">
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#">系统管理</a></li>
        <li><a href="#">菜单管理</a></li>
        <li>编辑</li>
    </ol>
</div>
<form class="form-horizontal" method="post" action="/menu/editsave">
    <input type="hidden" name="id" th:value="${menu.id}">
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">菜单名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" name="title" placeholder="菜单名称" th:value="${menu.title}">
        </div>
    </div>
    <div class="form-group">
        <label for="inputUrl" class="col-sm-2 control-label">链接</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUrl" name="url" placeholder="链接" th:value="${menu.url}">
        </div>
    </div>

    <div class="form-group">
        <label for="selectIsShow" class="col-sm-2 control-label">状态</label>
        <div class="col-sm-10">
            <select id="selectIsShow" class="form-control" name="isShow">
                <option value="0">隐藏</option>
                <option value="1"  th:selected="${menu.isShow}">显示</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSortRight" class="col-sm-2 control-label">排序</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSortRight" name="sortRight" placeholder="排序" th:value="${menu.sortRight}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-warning">保 存</button>
        </div>
    </div>
</form>
</div>
<div th:include="/common/load_js :: loadJs"></div>
</body>
</html>