<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/web.css">

</head>

<body class="home-template">
<header th:fragment="header" class="main-header" style="background-image: url(/images/bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- start logo -->
                <a class="branding" href="http://www.ghostchina.com" title="Ghost 开源博客平台"><img
                        src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png"
                        alt="Ghost 开源博客平台"></a>
                <!-- end logo -->
                <h2 class="text-hide">Ghost 是一个简洁、强大的写作平台。你只须专注于用文字表达你的想法就好，其余的事情就让 Ghost 来帮你处理吧。</h2>

                <img src="/images/bg.jpg" alt="Ghost 博客系统" class="hide">
            </div>
        </div>
    </div>
</header>
<nav th:fragment="menu" class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/">首页</a></li>
                        <li role="presentation"><a href="http://wenda.ghostchina.com">优选产品</a></li>
                        <li role="presentation"><a href="/ghost-cheat-sheet/">真伪查询</a></li>
                        <li role="presentation"><a href="http://docs.ghostchina.com/zh/">常见问题</a></li>
                        <li role="presentation"><a href="/about/">南洋中医</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-12 main-content">
                <article id="104" class="post">

                    <header class="post-head">
                        <h1 class="post-title">Ghost 1.0.0-beta.2 发布啦！</h1>
                        <section class="post-meta">
                            <span class="author">作者：<a href="/author/wangsai/">王赛</a></span> •
                            <time class="post-date" datetime="2017年6月24日星期六上午9点33分" title="2017年6月24日星期六上午9点33分">
                                2017年6月24日
                            </time>
                        </section>
                    </header>

                    <section class="featured-media">
                        <img src="http://static.ghostchina.com/image/0/94/6ac3f0cbeb3ab6e39fa40d37f9233.png"
                             alt="Ghost 1.0.0-beta.2 发布啦！">
                    </section>

                    <section class="post-content">
                        <p>紧跟前两周发布的 Ghost 1.0.0-beta.1 的步伐，今天发布了
                            Ghost 1.0.0-beta.2 ，我们距离最终版本又迈了一大步。我们非常期盼这是最后一个 beta 版本，希望下一次发布的就是最终候选版。</p>

                        <p>在第一个 beta 版本发布后的日子里，我们发现并修复了多个 bug：</p>

                        <ul>
                            <li><strong>[已修复]</strong> ghost uninstall 不再搞乱你的 Ghost 实例列表了</li>
                            <li><strong>[已修复]</strong> 如果 .ghostpid 文件消失了，本地进程管理器也不会死掉</li>
                            <li><strong>[已修复]</strong> Casper 能够随 <code>ghost update</code> 命令一同更新了</li>
                            <li><strong>[改进]</strong> 对于需要 sudo 的命令会在运行钱以灰色标示出来（未来会改为提示）</li>
                            <li><strong>[已修复]</strong> 对于 <code>{{@blog.url}}</code> 会自动去除末尾的斜线</li>
                            <li><strong>[改进]</strong> 改进启用主题时的错误信息</li>
                            <li><strong>[修改]</strong> 默认开启 API</li>
                            <li><strong>[修改]</strong> 默认不开启拼写检查</li>
                        </ul>

                        <p>请参考<a href="https://gist.github.com/kirrg001/5ab1e5d9b733f05664c42d3e357d5bb1">完整的修改日志</a>
                            了解此版本的详细信息。</p>

                        <h2 id="ghost">Ghost 命令行工具发布新版本</h2>

                        <p>伴随这次发布的 Ghost 新版本，我们还发布了 Ghost-CLI — 1.0.0-alpha.19 。您可以通过 <code>npm install -g
                            ghost-cli@latest</code> 命令升级到此版本。此次发布的版本修复了一个重大的 bug，以后再执行 <code>ghost update</code>
                            时就能够同步更新 Casper 主题了。</p>

                        <h2 id="casper20">Casper 2.0</h2>

                        <p>Ghost 1.0.0-beta.2 包含了一个重大改变，那就是拥有了一个全新的默认主题。</p>

                        <p>Casper 最初是针对 Ghost 0.3 版本所具有的功能而设计的，但是随着 Ghost 的成长以及新特性的加入，这些新特性受到主题的限制未能充分发挥出来。现在，已经过去 4
                            年了，我们重新实现了 <br>
                            Casper 以使其支持 Ghost 的所有特性。</p>

                        <p>我们将稍后会发布一篇完整的博文讲解 Casper 2.0 ，在此我们先从开发者的视角概述一下重要的改变：</p>

                        <ul>
                            <li>性能更好，对 handlebars 的使用更简洁</li>
                            <li>更多的代码内注释，帮助新晋的 Ghost 主题开发者更好地理解
                                theme API 的工作原理
                            </li>
                            <li>利用 Gulp + PostCSS 组合构建并压缩主题所使用的资源文件</li>
                            <li>利用 <code>{{#get}}</code> 助手函数通过 API 抓去内容（API 被默认开启了）</li>
                            <li>对 Ghost 订阅的更好的支持</li>
                            <li>通过 Feedly 更好的处理 RSS ，舍弃原始 XML 方式</li>
                            <li>优化作者信息，Better author meta data with extended use of new social profile fields</li>
                            <li>Google 字体被替换为系统字体（赞，总算理解我中华局域网的限制了！！！）</li>
                            <li>图标字体（Icon font）被替换为 SVG 图标并内嵌到页面中</li>
                            <li>对移动设备的支持又更大的提升</li>
                        </ul>

                        <p><a href="http://static.ghostchina.com/image/2/72/6aee775ec3a044c7ba5c4bee7ed4a.png"
                              class="mfp-zoom" style="display:block;"><img
                                src="http://static.ghostchina.com/image/2/72/6aee775ec3a044c7ba5c4bee7ed4a.png"
                                alt="Casper 2.0 主题"></a></p>

                        <h2 id="">致谢</h2>

                        <p>Aileen Nowak, Kevin Ansfield, David Wolfe, John O'Nolan, Hannah Wolfe and Katharina
                            Irrgang</p>

                        <hr>

                        <p>原文地址：<a href="https://dev.ghost.org/1-0-0-beta-2/">https://dev.ghost.org/1-0-0-beta-2/</a>
                        </p>
                    </section>

                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>

                        </div>

                        <div class="pull-right share">
                            <div class="bdsharebuttonbox share-icons bdshare-button-style0-24"
                                 data-bd-bind="1524365951055">
                                <a href="#" class="bds_more" data-cmd="more"></a>
                                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            </div>
                        </div>
                    </footer>

                </article>

                <div class="about-author clearfix">
                    <a href="/author/wangsai/"><img
                            src="/images/nanyang.png" alt="王赛"
                            class="avatar pull-left"></a>

                    <div class="details">
                        <div class="author">
                            关于作者 <a href="/author/wangsai/">王赛</a>
                        </div>
                        <div class="meta-info">
                            <span class="loaction"><i class="fa fa-home"></i>北京</span>
                            <span class="website"><i class="fa fa-globe"></i><a href="http://www.bootcss.com"
                                                                                targer="_blank">个人网站/博客</a></span>
                        </div>
                    </div>
                </div>

                <div class="prev-next-wrap clearfix">

                    <a class="btn btn-default" href="/1-0-0-beta-is-out/"><i class="fa fa-angle-left fa-fw"></i> 1.0.0
                        Beta 版本发布啦！！！</a>
                    &nbsp;

                    <a class="btn btn-default" href="/ghost-1-0-rc1/">Ghost 1.0 RC1 发布，可用于生产环境 <i
                            class="fa fa-angle-right fa-fw"></i></a>
                </div>


            </main>

        </div>
    </div>
</section>
<footer th:fragment="footer" class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">友链</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.bootcss.com" title="Bootstrap中文网"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
                        <a href="http://lodashjs.com/" title="Lodash中文文档"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Lodash中文文档'])" target="_blank">Lodash中文文档</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="/tag/about-ghost/">南洋鼻炎膏</a>
                        <a href="/tag/release/">南洋脚气膏</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="https://www.upyun.com/" title="又拍云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a>
                        <a href="http://www.aliyun.com/" title="阿里云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'aliyun'])" target="_blank">阿里云</a>
                        <a href="http://www.qiniu.com/" title="七牛云存储"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'qiniu'])" target="_blank">七牛云存储</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div th:fragment="copyright" class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright © <a href="http://www.ghostchina.com/">南洋中医</a> 2009-2018 新加坡栾氏中医研究学会版权所有</span>
            </div>
        </div>
    </div>
</div>
<a href="#" id="back-to-top" style="display: none;"><i class="fa fa-angle-up"></i></a>
<!--<form action="/hello" method="get">
    <input name="locale" type="hidden" value="zh_CN"/>
    <button>切换为中文</button><button>切换为英文AA</button>
</form>


<form action="/hello" method="get">
    <input name="locale" type="hidden" value="en_US"/>
    <button>切换为英文</button>
</form>
<h1 th:inline="text">Hello.v.2</h1>
<p th:text="${welcome}"></p>-->
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>