<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="zh_SG">
<head th:include="/common/head :: head('首页')"></head>

<body class="home-template">
    <header th:replace="/common/header :: header"></header>
    <nav th:replace="/common/menu :: menu"></nav>
    <section class="content-wrap">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">

                    <article class="post" th:each="a:${articles}">

                        <div class="post-head">
                            <h1 class="post-title"><a th:href="@{'/article/'+${a.id}}" th:text="${a.title}"></a></h1>
                            <div class="post-meta">
                                <span class="author">作者：<a th:text="${a.author}"></a></span> •
                                <time class="post-date" th:title="${#dates.format(a.publishDate, 'yyyy年MM月dd日')}" th:text="${#dates.format(a.publishDate, 'yyyy年MM月dd日')}"></time>
                            </div>
                        </div>
                        <div class="featured-media" th:if="${a.pic}">
                            <a th:href="@{'/article/'+${a.id}}" th:title="${a.title}"><img th:src="@{'/articles/'+${a.id}+'/pic.jpg'}" th:alt="${a.title}"></a>
                        </div>
                        <div class="post-content">
                            <p th:text="${a.description}"></p>
                        </div>
                        <div class="post-permalink">
                            <a th:href="@{'/article/'+${a.id}}" class="btn btn-default">阅读全文</a>
                        </div>

                    </article>


                    <nav class="pagination" role="navigation">
                        <span class="page-number">第 1 页 ⁄ 共 9 页</span>
                        <a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                    </nav>


                </main>

                <aside class="col-md-4 sidebar">
                    <!-- start widget -->
                    <!-- end widget -->

                    <!-- start tag cloud widget -->
                    <div class="widget">
                        <h4 class="title">服务微信号</h4>
                        <div class="content community">
                            <img class="img-thumbnail" src="/images/erweima.png">
                        </div>
                    </div>
                    <!-- end tag cloud widget -->

                    <!-- start widget -->
                    <div class="widget">
                        <h4 class="title">真伪查询</h4>
                        <div class="content download">
                            <a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">点击查询产品真伪</a>
                        </div>
                    </div>
                    <!-- end widget -->
                    <!-- start widget -->
                    <!-- end widget -->

                    <!-- start widget -->
                    <!-- end widget -->                </aside>

            </div>
        </div>
    </section>
    <footer th:replace="/common/footer :: footer"></footer>
    <div th:replace="/common/copyright :: copyright"></div>
    <a th:replace="/common/gotop :: gotop"></a>
    <div th:include="/common/load_js :: loadJs"></div>
</body>
</html>