<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="zh_SG">
<head th:include="/common/head :: head"></head>

<body class="home-template">
    <header th:replace="/common/header :: header"></header>
    <nav th:replace="/common/menu :: menu"></nav>
    <section class="content-wrap">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">

                    <article class="post" th:each="a:${articles}">

                        <div class="post-head">
                            <h1 class="post-title"><a th:href="@{'/article/'+${a.id}}" th:text="${a.title}"></a></h1>
                            <div class="post-meta">
                                <span class="author">作者：<a th:text="${a.author}"></a></span> •
                                <time class="post-date" th:title="${#dates.format(a.publishDate, 'yyyy年MM月dd日')}" th:text="${#dates.format(a.publishDate, 'yyyy年MM月dd日')}"></time>
                            </div>
                        </div>
                        <div class="featured-media" th:if="${a.pic}">
                            <a th:href="@{'/article/'+${a.id}}" th:title="${a.title}"><img th:src="@{'/articles/'+${a.id}+'/pic.jpg'}" th:alt="${a.title}"></a>
                        </div>
                        <div class="post-content">
                            <p th:text="${a.description}"></p>
                        </div>
                        <div class="post-permalink">
                            <a th:href="@{'/article/'+${a.id}}" class="btn btn-default">阅读全文</a>
                        </div>

                    </article>


                </main>

                <aside th:replace="/common/aside :: aside"></aside>

            </div>
        </div>
    </section>
    <footer th:replace="/common/footer :: footer"></footer>
    <div th:replace="/common/copyright :: copyright"></div>
    <a th:replace="/common/gotop :: gotop"></a>
    <div th:include="/common/load_js :: loadJs"></div>
</body>
</html>